<style>
h1 {
  color: blue;
  background-color: #c0c0c0;
  border: none;
  text-align: center;
}
body {
  background-color: #999999;
}
</style>

<h1>New Project</h1>

<%= render 'form', project: @project %>

<center><u><%= link_to 'Back', projects_path %></u></center>
